#branches-list {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
}

#branches-list li {
    margin: 5px 0; /* Отступы между элементами списка */
}

#branches-list a {
    color: #007BFF; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

#branches-list a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}
