.comment-input {
    width: 90%; /* Ширина поля ввода комментария */
    padding: 5px; /* Внутренние отступы поля ввода
    border: 1px solid #ccc; /* Рамка поля ввода */
    border-radius: 5px; /* Скругление углов поля ввода */
    margin-bottom: 10px; /* Отступ снизу для поля ввода комментария */
}

.comment-container {
    width: 90%; /* Ширина контейнера комментариев */
    margin: 10px 0; /* Отступы сверху и снизу для контейнера комментариев */
    border-top: 1px solid #ccc; /* Верхняя граница контейнера комментариев */
    padding-top: 10px; /* Отступ сверху внутри контейнера комментариев */
}

.comment {
    font-size: 12px; /* Размер шрифта для комментариев */
    color: #333; /* Цвет текста для комментариев */
    margin: 5px 0; /* Отступы сверху и снизу для комментариев */
    text-align: left; /* Выравнивание текста по левому краю */
}

.comment-toggle {
    color: blue; /* Цвет текста для кнопки "Показать/Скрыть комментарии" */
    cursor: pointer; /* Указатель при наведении на текст */
    margin-top: 5px; /* Отступ сверху для кнопки */
}
