footer {
    background-color: #f8f9fa; /* Цвет фона подвала */
    text-align: center; /* Центрируем текст в подвале */
    padding: 10px; /* Внутренние отступы подвала */
    position: relative; /* Относительное положение подвала */
    bottom: 0; /* Положение внизу */
    width: 100%; /* Ширина подвала */
}

.footer-text {
    font-size: 12px; /* Размер шрифта для текста в подвале */
    color: #555; /* Цвет текста в подвале */
}
