header {
    background-color: #f8f9fa; /* Цвет фона заголовка */
    padding: 5px 20px; /* Внутренние отступы заголовка */
    position: fixed; /* Фиксированное положение заголовка */
    width: 100%; /* Ширина заголовка */
    top: 0; /* Положение сверху */
    z-index: 1000; /* Уровень наложения */
    display: flex; /* Используем flexbox для выравнивания */
    justify-content: space-between; /* Распределение элементов заголовка */
    align-items: center; /* Выравнивание по вертикали */
}

header.hidden {
    transform: translateY(-100%); /* Скрытие заголовка при добавлении класса hidden */
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_image{
height: 42px;
padding-right: 20px;
}

.main-title {
    margin: 0; /* Убираем отступы для заголовка */
    font-size: 22px;
}

.notification-icon {
    width: 32px; /* Ширина иконки уведомлений */
    height: 32px; /* Высота иконки уведомлений */
    max-width: 42px; /* Максимальная ширина иконки */
    max-height: 42px; /* Максимальная высота иконки */
    display: flex; /* Используем flexbox для центрирования */
    justify-content: center; /* Центрируем содержимое */
    align-items: center; /* Центрируем содержимое по вертикали */
    cursor: pointer; /* Указатель при наведении */
    overflow: hidden; /* Скрываем лишнее содержимое, если оно превышает размеры */
}
