body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

main {
    display: flex; /* Используем flexbox для основного содержимого */
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: center; /* Центрируем элементы */
    padding-top: 70px; /* Отступ сверху для основного содержимого */
    margin: 0; /* Убираем отступы */
}
