.post {
    width: 300px; /* Ширина поста по умолчанию */
    margin-bottom: 20px; /* Отступ снизу для постов */
}

img {
    width: 100%; /* Изображение занимает всю ширину поста */
    height: auto; /* Высота изображения автоматически подстраивается */
    max-width: 100%; /* Максимальная ширина изображения */
    border-radius: 15px; /* Скругление углов изображения */
}

.description {
    font-size: 14px; /* Размер шрифта для описания */
    color: #333; /* Цвет текста для описания */
    margin: 10px 0; /* Отступы сверху и снизу */
    max-height: 40px; /* Ограничение высоты по умолчанию */
    overflow: hidden; /* Скрытие переполненного текста */
    transition: max-height 0.3s ease; /* Плавный переход при изменении высоты */
}

.description.expanded {
    max-height: none; /* Убираем ограничение по высоте при раскрытии */
}

.show-more {
    color: blue; /* Цвет текста для кнопки "Показать полностью" */
    cursor: pointer; /* Указатель при наведении на текст */
    margin-top: 5px; /* Отступ сверху для разделения с описанием */
    display: inline-block; /* Чтобы кнопка отображалась в одной строке с текстом */
}

.icons {
    margin-bottom: 10px;
}
